p {
    color: gray;
    font-size: 18px;
}

a {
    width: 150px;
    text-align: center;
}

#pageButton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background: #64c8c8;
    border-radius: 15px;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#pageButton:hover {
    background: #4daaaa;
}

#splitButton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background: #64c8c8;
    border-radius: 15px;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#splitButton:hover {
    background: #4daaaa;
}